@font-face {
    font-family: 'Hevena';
    src: url('../Ethereal Havena DEMO.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hikasami';
    src: url('../Hikasami-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Instrumental';
    src: url('../InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neutral-Regular';
    src: url('../NeutralSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neutral-Medium';
    src: url('../NeutralSans-Meidum.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
