@font-face {
    font-family: 'Hevena';
    src: url('../assets/fonts/Ethereal\ Havena\ DEMO.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hikasami';
    src: url('../assets/fonts/Hikasami-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Instrumental';
    src: url('../assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neutral-Regular';
    src: url('../assets/fonts/NeutralSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neutral-Medium';
    src: url('../assets/fonts/NeutralSans-Meidum.ttf') format('truetype'); // исправлена опечатка
    font-weight: 500;
    font-style: normal;
}
